# 1. Create a result table which contain student id, student name and 5 subject marks.

In [1]:
import sqlite3 as sq
con=sq.connect("RESULT.db")
cur=con.cursor()

In [2]:
table='''Create table if not exists result
        (
            sid int primary key,
            sname text NOT NULL,
            mark1 int,
            mark2 int,
            mark3 int,
            mark4 int,
            mark5 int
        )'''

In [3]:
cur.execute(table)

# 2. Enter 10 studnet details with its marks.

In [4]:
insert2="insert into result values(?,?,?,?,?,?,?)"

In [5]:
l=[]

In [6]:
for i in range(10):
    sid=int(input(f"Enter student id of student {i+1}: "))
    sname=input(f"Enter student Name of student {i+1} :")
    mark1=int(input(f"Enter marks of subject 1 of student {i+1} :"))
    mark2=int(input(f"Enter marks of subject  2 of student {i+1} :"))
    mark3=int(input(f"Enter marks of subject  3 of student {i+1} :"))
    mark4=int(input(f"Enter marks of subject 4 of student {i+1} :"))
    mark5=int(input(f"Enter marks of subject  5 of student {i+1} :"))
    t=(sid,sname,mark1,mark2,mark3,mark4,mark5)
    l.append(t)

Enter student id of student 1: 1
Enter student Name of student 1 :om
Enter marks of subject 1 of student 1 :87
Enter marks of subject  2 of student 1 :67
Enter marks of subject  3 of student 1 :89
Enter marks of subject 4 of student 1 :76
Enter marks of subject  5 of student 1 :76
Enter student id of student 2: 2
Enter student Name of student 2 :sai
Enter marks of subject 1 of student 2 :89
Enter marks of subject  2 of student 2 :76
Enter marks of subject  3 of student 2 :56
Enter marks of subject 4 of student 2 :76
Enter marks of subject  5 of student 2 :56
Enter student id of student 3: 3
Enter student Name of student 3 :ram
Enter marks of subject 1 of student 3 :87
Enter marks of subject  2 of student 3 :81
Enter marks of subject  3 of student 3 :75
Enter marks of subject 4 of student 3 :70
Enter marks of subject  5 of student 3 :82
Enter student id of student 4: 4
Enter student Name of student 4 :radha
Enter marks of subject 1 of student 4 :67
Enter marks of subject  2 of student 4 :70
Enter marks of subject  3 of student 4 :80
Enter marks of subject 4 of student 4 :76
Enter marks of subject  5 of student 4 :51
Enter student id of student 5: 5
Enter student Name of student 5 :shyam
Enter marks of subject 1 of student 5 :91
Enter marks of subject  2 of student 5 :71
Enter marks of subject  3 of student 5 :73
Enter marks of subject 4 of student 5 :85
Enter marks of subject  5 of student 5 :76
Enter student id of student 6: 6
Enter student Name of student 6 :gopal
Enter marks of subject 1 of student 6 :67
Enter marks of subject  2 of student 6 :71
Enter marks of subject  3 of student 6 :68
Enter marks of subject 4 of student 6 :69
Enter marks of subject  5 of student 6 :79
Enter student id of student 7: 7
Enter student Name of student 7 :shiv
Enter marks of subject 1 of student 7 :78
Enter marks of subject  2 of student 7 :88
Enter marks of subject  3 of student 7 :67
Enter marks of subject 4 of student 7 :90
Enter marks of subject  5 of student 7 :71
Enter student id of student 8: 8
Enter student Name of student 8 :kishan
Enter marks of subject 1 of student 8 :66
Enter marks of subject  2 of student 8 :51
Enter marks of subject  3 of student 8 :43
Enter marks of subject 4 of student 8 :67
Enter marks of subject  5 of student 8 :80
Enter student id of student 9: 9
Enter student Name of student 9 :hari
Enter marks of subject 1 of student 9 :78
Enter marks of subject  2 of student 9 :87
Enter marks of subject  3 of student 9 :65
Enter marks of subject 4 of student 9 :67
Enter marks of subject  5 of student 9 :56
Enter student id of student 10: 10
Enter student Name of student 10 :vijay
Enter marks of subject 1 of student 10 :78
Enter marks of subject  2 of student 10 :61
Enter marks of subject  3 of student 10 :42
Enter marks of subject 4 of student 10 :78
Enter marks of subject  5 of student 10 :89

# 3. Dump table into csv file "result.csv"

In [7]:
import csv

In [8]:
header=['STUDENT_ID','STUDENT_NAME','SUBJECT_1','SUBJECT_2','SUBJECT_3','SUBJECT_4','SUBJECT_5']

In [9]:
with open('reslult_tbl.csv','w',newline="") as csvfile:
    writer_obj=csv.writer(csvfile)
    writer_obj.writerow(header)
    writer_obj.writerows(l)

# 4. Read result.csv file and Print Total Marks and Grade of each student. Also Append Total Marks and Grade column into result.csv file.

In [10]:
COLUMNS=[]
with open('reslult_tbl.csv','r',newline="") as read_csv:
    read_obj=csv.DictReader(read_csv)
    COLUMNS=list(read_obj)
    print(COLUMNS)
    print('\n')

[{'STUDENT_ID': '1', 'STUDENT_NAME': 'om', 'SUBJECT_1': '87', 'SUBJECT_2': '67', 'SUBJECT_3': '89', 'SUBJECT_4': '76', 'SUBJECT_5': '76'}, {'STUDENT_ID': '2', 'STUDENT_NAME': 'sai', 'SUBJECT_1': '89', 'SUBJECT_2': '76', 'SUBJECT_3': '56', 'SUBJECT_4': '76', 'SUBJECT_5': '56'}, {'STUDENT_ID': '3', 'STUDENT_NAME': 'ram', 'SUBJECT_1': '87', 'SUBJECT_2': '81', 'SUBJECT_3': '75', 'SUBJECT_4': '70', 'SUBJECT_5': '82'}, {'STUDENT_ID': '4', 'STUDENT_NAME': 'radha', 'SUBJECT_1': '67', 'SUBJECT_2': '70', 'SUBJECT_3': '80', 'SUBJECT_4': '76', 'SUBJECT_5': '51'}, {'STUDENT_ID': '5', 'STUDENT_NAME': 'shyam', 'SUBJECT_1': '91', 'SUBJECT_2': '71', 'SUBJECT_3': '73', 'SUBJECT_4': '85', 'SUBJECT_5': '76'}, {'STUDENT_ID': '6', 'STUDENT_NAME': 'gopal', 'SUBJECT_1': '67', 'SUBJECT_2': '71', 'SUBJECT_3': '68', 'SUBJECT_4': '69', 'SUBJECT_5': '79'}, {'STUDENT_ID': '7', 'STUDENT_NAME': 'shiv', 'SUBJECT_1': '78', 'SUBJECT_2': '88', 'SUBJECT_3': '67', 'SUBJECT_4': '90', 'SUBJECT_5': '71'}, {'STUDENT_ID': '8', 'STUDENT_NAME': 'kishan', 'SUBJECT_1': '66', 'SUBJECT_2': '51', 'SUBJECT_3': '43', 'SUBJECT_4': '67', 'SUBJECT_5': '80'}, {'STUDENT_ID': '9', 'STUDENT_NAME': 'hari', 'SUBJECT_1': '78', 'SUBJECT_2': '87', 'SUBJECT_3': '65', 'SUBJECT_4': '67', 'SUBJECT_5': '56'}, {'STUDENT_ID': '10', 'STUDENT_NAME': 'vijay', 'SUBJECT_1': '78', 'SUBJECT_2': '61', 'SUBJECT_3': '42', 'SUBJECT_4': '78', 'SUBJECT_5': '89'}]

In [13]:
with open('reslult_tbl.csv','w',newline="") as csvfile:
    header=['STUDENT_ID','STUDENT_NAME','SUBJECT_1','SUBJECT_2','SUBJECT_3','SUBJECT_4',
            'SUBJECT_5','total_marks','grade']
    write_obj=csv.DictWriter(csvfile,fieldnames=header)
    write_obj.writeheader()
    write_obj.writerows(COLUMNS)

In [ ]:
for row in COLUMNS:
    total_marks=sum(int(row[f'SUBJECT_{i}'])
for j in range(1,6))
    percentage=total_marks/5
    if percentage>=90:
        grade='A'
    elif percentage>=80 and percentage<=90:
        grade='B'
    elif percentage>=70 and percentage<=80:
        grade='C'
    elif percentage>=60 and percentage<=70:
        grade='D'
    elif percentage>=50 and percentage<=33:
        grade='E'
    else:
        grade='F'
row['total_marks']=total_marks
row['grade']=grade

# 5. List out Top 3 Student id and name with its percentage.

In [15]:
with open('reslult_tbl.csv', 'r', newline='') as file2:
    head = next(file2)
    header = "{:^12} {:^20} {:^15}\n-----------------------------------------------------".format('Student_ID', 'Student_Name', 'Percentage')
    print(header)
    d = csv.reader(file2)
    d = sorted(d, key=lambda stud: stud[8], reverse=True)
    c=0
    # Iterate through the sorted data and print each record
    for i in d:
        record_line = "{:^12} {:^20} {:^15} ".format(i[0], i[1], i[8])
        print(record_line)
        c+=1
        if c==3:
            break

 Student_ID      Student_Name       Percentage
-----------------------------------------------------
     1                om
     2               sai
     3               ram